html {
  scroll-behavior: smooth;
}
.container {
  background-color: white;
}

.container:hover h1:nth-child(1) {
  clip-path: polygon(0 0, 100% 0, 100% 50%, 0 50%);
  transform: translateY(-50px);
  transition: 0.3s;
}
.container:hover h1:nth-child(2) {
  clip-path: polygon(0 50%, 100% 50%, 100% 100%, 0 100%);
  transform: translateY(50px);
  transition: 0.3s;
}

#arrow-container:hover .arrow:nth-child(1)  {
  transform: translateY(32px);
}

#arrow-container:hover .arrow:nth-child(2) {
  transform: translateY(16px);
}

.arrow {
  transition: all 0.3s ease;
}

html {
  --cursor-color: white;
}

html#projects {
  --cursor-color: red;
}